*:root {
  --color-primary: #418a49;
  --color-secondary: #eaec84;
  --color-font-primary: #d4d4d4;
}

* {
  margin: 0;
  padding: 0;
}

*::before,
::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  line-height: 1.7;

  // font-size: 62.5%;
}

p {
  font-size: 1.2rem;
  font-weight: 300;
}

body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
}
