*:root {
  --color-primary: #418a49;
  --color-secondary: #eaec84;

  --color-primary-light: #7ed56f;
  --color-primary-dark: #28b485;

  --color-font-primary: #d4d4d4;
  --color-secondary-light: #ffb900;
  --color-secondary-dark: #ff7730;

  --color-tertiary-light: rgb(41, 152, 255);
  --color-tertiary-dark: rgb(86, 67, 250);
}

* {
  margin: 0;
  padding: 0;
}

*::before,
::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  line-height: 1.7;

  // font-size: 62.5%;
}

p {
  font-size: 1rem;
  font-weight: 300;
}

body {
  font-family: "Open Sans", sans-serif;
  // font-family: "Lato", sans-serif;
  min-height: 100vh;
}
