//==== Navbar ==== //

.logo {
  height: 3.25rem;
}

// .nav__link {
//   font-size: 1.2rem;
//   font-weight: 600;
//   color: var(--color-secondary) !important;
// }

.nav-link {
  // color: rgba(0, 0, 0, 0.9) !important;
  color: #fff !important;
  transition: all 0.2s;
  text-transform: uppercase;

  &:hover {
    // color: var(--color-secondary) !important;
    border-bottom: 1px solid #fff;
  }

  // &.active {
  //   // color: #fff !important;
  //   border-bottom: 1px solid #fff !important;
  // }
}

//==== Header ==== //

header {
  min-height: 70vh;
}

.header__left {
  margin: auto 0;
  text-align: center;
}

.display-3 {
  font-size: 3.1rem;
  font-weight: bolder;
}

.secondary-heading {
  font-size: 2.5rem;
  font-weight: 600;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-top: 5rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  border-bottom: 2px solid #7ed56f;
}

.tertiary-heading {
  font-size: 1.5rem;
  font-size: 600;
  display: inline-block;
  letter-spacing: 0.1rem;
  margin: 2.5rem 0;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
}

.services {
  h2 {
    margin-bottom: 7rem;
  }
}

.about {
  background-color: #f7f7f7;
}
